node_modules
.next
out
*.db
/triptogether.db/
/e2e.db/
*.db-journal
.env
.env.local
next-env.d.ts
*.tsbuildinfo
e2e.db
e2e.db-shm
e2e.db-wal
/test-results/
/playwright-report/
/blob-report/
.vercel
/drizzle/meta/_journal.json.bak
triptogether.db-shm
triptogether.db-wal
